@charset "utf-8";
/* CSS Document */

<style type="text/css">

.malakia{
	
}

/*----------------------------------------------
			 Φόρμα: Εισαγωγής - index.php
----------------------------------------------*/
input.index{
	width:100px;             /* 'Ετσι ώστε όλα να έχουν το ίδιο πλάτος */
	background:#fcc;         /* Το απαλό κόκκινο*/
	}

/*----------------------------------------------
			 Φόρμα: Admin.php
----------------------------------------------*/
input.admin_insert{
	width:400px;             /* 'Ετσι ώστε όλα να έχουν το ίδιο πλάτος */
	background-color:#C3FBBF;      /* Αρχικό χρώμα: Το πράσινο */
	}


/**********************************************************************************************
											Αλλα
***********************************************************************************************/

/*----------------------------------------------
			 Φόρμα: Category_Insert.php
----------------------------------------------*/
input.category_insert{
	width:300px;             /* 'Ετσι ώστε όλα να έχουν το ίδιο πλάτος */
	background:#9ff;         
	}

/*----------------------------------------------
		 Φόρμα: Category_Edit_update.php
----------------------------------------------*/
input.category_edit_update{
	width:300px;             /* 'Ετσι ώστε όλα να έχουν το ίδιο πλάτος */
	background:#9ff;         
	}

/*----------------------------------------------
			 Φόρμα: Categories_Sub1_Insert.php
----------------------------------------------*/
input.sub_category_insert{
	width:300px;             /* 'Ετσι ώστε όλα να έχουν το ίδιο πλάτος */
	background:#9ff;         
	}

select.sub_category_insert{
	width:250px;             /* 'Ετσι ώστε όλα να έχουν το ίδιο πλάτος */
	background:#9ff;         
	}


/*----------------------------------------------
		 Φόρμα: Products_Insert.php
----------------------------------------------*/
input.product_insert_big{
	width:450px;             /* 'Ετσι ώστε όλα να έχουν το ίδιο πλάτος */
	background:#DAFFE2;         
	}

input.product_insert_small{
	width:100px;             /* 'Ετσι ώστε όλα να έχουν το ίδιο πλάτος */
	background:#DAFFE2;         
	}	

	
select.product_insert{
	width:150px;             /* 'Ετσι ώστε όλα να έχουν το ίδιο πλάτος */
	background:#DAFFE2;         
	}

textarea.product_insert{
	width:450px;             /* 'Ετσι ώστε όλα να έχουν το ίδιο πλάτος */
	background:#DAFFE2;         
	}





/*----------------------------------------------
 Φόρμα Ερωτημάτων: CommandsToHTML_queries.php
----------------------------------------------*/
input.CommandsToHTML_queries_1o	{
	width:300px;             /* 'Ετσι ώστε όλα να έχουν το ίδιο πλάτος */
	background:#9ff;         
	}
	
select.CommandsToHTML_queries_1o	{
	width:150px;             /* 'Ετσι ώστε όλα να έχουν το ίδιο πλάτος */
	background:#9ff;         
	}
	
/*----------------------------------------------
 Φόρμα Ερωτημάτων: Orders.php   order_status
----------------------------------------------*/
select.update_order_status	{
	width:125px;             /* 'Ετσι ώστε όλα να έχουν το ίδιο πλάτος */
	background:#9ff;         
}
	
	
	
/*----------------------------------------------
			 Ισχύει για όλα
		 Το χρώμα όταν κάνουμε focus
----------------------------------------------*/
input:focus, textarea:focus, select:focus{     /*  Να μπαίνει πάντα στο τέλος όλων των inputs */
	background:#ffc;                         /*  Το χρώμα όταν κάνουμε focus: Το απαλό κίτρινο */
}

/*----------------------------------------------
		Αλλος τρόπος για την ίδια δουλειά
----------------------------------------------*/	
/*
input:focus{
	background-color:#9900FF;
	}
	
	
input[type="text"]{
	width:600px;
	background-color:#99FFFF;
	}

input[type="file"]{
	width:600px;
	background-color:#99FFFF;
	}

	
input[type="hidden"]{
	width:600px;
	background-color:#99FFFF;
	}

textarea{
	width:600px;
	background-color:#99FFFF;
	}
*/
</style>