@charset "utf-8";
/* CSS Document */

<style type="text/css">

.malakia2 {
	
}

/*----------------------------------------------
		     Rounded boxes
	Το περίγραμμα γύρω από κείμενο και εικόνες.
----------------------------------------------*/
/*
#columnRight h1	{ 	
	background: url(rounded_corners/top_and_bottom.jpg) no-repeat left center;
	color:#FF8000;
	margin:0px 0px 50px 0px;
	}*/

.periheaderv h1{	
	text-align:center;	
	color:#FF8000;
	width:1000px;
	height:48px;
	background: url(rounded_corners/top_and_bottom.jpg) no-repeat left top;
	margin-left:50px;
	padding-bottom:10px;
	/*border:1px dashed black;*/
	/*margin:0px 0px 50px 0px;*/
	}


.periheader2linesv h1{
	text-align:center;
	color:#FF8000;
	width:800px;
	height:72px;
	background: url(rounded_corners/top_and_bottom_2lines.jpg) no-repeat left top;
	padding-bottom:10px;
	/*border:1px dashed black;*/
	}

.box {
	width: 800px;
	background: url(rounded_corners/tileeli.jpg) repeat-y;
	}

.box h3 {
	background: url(rounded_corners/topeli.jpg) no-repeat left top;
	padding-top: 20px;
	}

.box h1 {
	background: url(rounded_corners/topeli.jpg) no-repeat left top;
	padding-top: 20px;
	}


.box .last {
	background: url(rounded_corners/bottomeli.jpg) no-repeat left bottom;
	padding-bottom: 20px;
	}

.box h3 {
	padding-left: 20px;
	padding-right: 20px;
	}

.box p {
	padding-left: 20px;
	padding-right: 20px;
	}

.box ul{
	padding-left: 20px;
	padding-right: 20px;
	}

.box .last2 {
	background: url(rounded_corners/bottomeli.jpg) no-repeat left bottom;
	padding-bottom: 20px;
	font-family:"Courier New", Courier, mono;
	font-style:italic;
	}
	
</style>